<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <a href="/login">Sigh in</a>
        <a href="/reg">Sigh up</a>
        <a href="/profile">Profile</a>
        <a href="/upload">Upload Image</a>
    </div>
</body>
</html>
