<!DOCTYPE html>
{% load static %}
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="#" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter your username" required name="login">
        <input type="password" placeholder="Enter your password" required name="password">
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="/reg">Signup</a>
        </span>
      </div>
    </div>

  </div>
</body>
</html>