<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration or Sign Up form in HTML CSS | CodingLab</title>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="check">
      <div class="registration form">
        <header>Signup</header>
        <form action="#" method="post">
          {% csrf_token %}
          {% if error %}
            <div class="error" >{{ error }}</div>
          {% endif %}
          <input type="text" placeholder="Enter your username" name="login">
          <input type="email" placeholder="user@example.com" name="email">
          <input type="password" placeholder="Enter your password" name="password">
          <input type="password" placeholder="Confirm your password" name="password_c">
          <input type="submit" class="button" value="Signup">
        </form>
        <div class="signup">
          <span class="signup">Already have an account?
            <a href="/login" style="font-size: 18px;">Login</a>
          </span>
        </div>
      </div>
    </div>
  </body>
</html>